{%extends "orders/base.html" %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block body %}
    <h3>{{ shopping_cart }}</h3>  
        <table>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Size</th>
                <th>Extra charge</th>
                <th>Price</th>
            </tr>
            {%for food in cart %}
                <tr>
                    <td>{{food.item.get_item_type_display}}</td>
                    <td>{{food.item.display_name}}</td>
                    <td>{{food.item.get_food.get_item_size_display|default:"-"}}</td>
                    
                    {%for top in food.toppings%}
                        <td>{{top.display_name}} + ${{top.price|floatformat:2}}</td>
                    {%empty%}
                        <td>-</td>
                    {%endfor%}
                    <td>${{food.price|floatformat:2}}</td>
                    <!-- {% for top in toppings %}
                        {% for food in top.food_items.all %}
                            {%if item == food %}
                                <td>{{top}}</td>
                            {%endif%}
                        {%endfor%}
                    {%endfor%} -->
                    <td>
                        <form action="{% url 'remove_from_cart' food.item.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Remove" />
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <!-- Form for submitting order -->
        <form action="{% url 'submit_order' shopping_cart.id %}" method="post">
            {% csrf_token %}
            <button class="btn_remove">Submit order</button>
        </form>
    
   


    
    
{% endblock %}