{%extends "orders/base.html" %}

{% block title %}
    orders
{% endblock %}

{% block body %}
    <h1> {{ user.username }} Shopping Cart</h1>
    <a href="{% url 'index' %}">Menu</a>
    <ul>
        {%for sc in cart %}
            <li>{{ sc }}</li>  

                {%for item in sc.Items.all %}
                <p>{{ item }}</p>
                    <form action="{% url 'remove_from_cart' item.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Remove" />
                    </form>
                {% endfor %}
            
        {% endfor %} 
    </ul>
    <form>
        <button>Submit order</button>
    </form>
{% endblock %}