{%extends "orders/base.html" %}

{% block title %}
    Shopping Cart
{% endblock %}

{% block body %}
    <h3>{{ cart }}</h3>  

    {%for item in cart.items.all %}
        <form action="{% url 'remove_from_cart' item.id %}" method="post">
            {% csrf_token %}
            {{ item }}
            <input type="submit" value="Remove" />
        </form>
    {% endfor %}

    
    <form action="{% url 'submit_order' cart.id %}" method="post">
        {% csrf_token %}
        <button class="btn_remove">Submit order</button>
    </form>
{% endblock %}