{%extends "orders/base.html" %}

{% block title %}
    Orders
{% endblock %}

{% block body%}  
    <h1>Orders</h1>
    <table>
        <tr>
            <th>Items</th>
            <th>Price</th>
            <th>Time</th>
            <th>Completed</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.get_items_str}}</td>
            <td>${{order.order_price|floatformat:2}}</td>
            <td>{{order.created}}</td>
            <td>{{order.is_completed}}</td>
        </tr>
        {% endfor %}
    </table>
        
{% endblock %}